.container-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-left {
    position: relative;
    width: 30rem;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    position: relative;
    border-radius: 20px;
    cursor: crosshair;
    filter: grayscale(1);
    transition: all .2s cubic-bezier(0.77, -0.01, 0, 1.02) .2s;
}

.card-left:hover .photo {
    filter: grayscale(0);
    transform: scale(1.1);
}

.card-right {
    position: relative;
    width: 50rem;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
}

.card-right h2 {
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: var(--primaryText);
}

.card-right .description {
    color: var(--primaryText);
    width: 80%;
    font-weight: 200;
}

.card-right .my-hobbies {
    color: var(--primaryText);
}
.card-right .my-hobbies .icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.card-right .my-hobbies .icons .icon {
    font-size: 2em;
}