.presentation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}

.content-presentation {
    margin-left: 10vw;
    height: fit-content;
    margin-bottom: 15vh;
    width: min(80vw, 980px);
}

.content-presentation h1 {
    font-family: Inter, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.3;
    letter-spacing: 0;
    font-size: 6em;
    color: var(--primaryText);
    margin-top: 0;
    margin-bottom: 0;
}

.content-presentation h1 span {
    color: var(--accent);
}

.content-presentation p {
    font-size: 2em;
    font-family: Inter, serif;
    letter-spacing: normal;
    text-align: left;
    line-height: 2.25;
    box-sizing: border-box;
    scroll-padding-top: 3em;
    color: var(--primaryText);
    text-overflow: ellipsis;
}

.buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: 3.5rem;
}

.my-resume {

}

.get-in-touch {

}

.container-parallaxtext {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.parallax {
    overflow: hidden;
    position: relative;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    color: var(--primaryText);
    width: 100%;
}

.parallax p {
    border: 1px solid green;
    width: fit-content;
    font-size: 2rem;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    will-change: transform;
}

.parallax span {
    display: block;
    margin-right: 30px;
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .content-presentation {
        margin-left: 5vw;
        width: min(85vw, 900px);
    }

    .content-presentation h1 {
        font-size: 4em;
    }

    .content-presentation p {
        font-size: 1.5em;
    }

    .parallax .scroller {
        font-size: 48px;
    }
}

/* Mobile landscape / Small tablet */
@media screen and (max-width: 768px) {
    .presentation {
        overflow-x: hidden;
    }

    .content-presentation {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        width: calc(100% - 3rem);
        margin-bottom: 10vh;
    }

    .content-presentation h1 {
        font-size: 2.5em;
        white-space: normal;
        line-height: 1.2;
    }

    .content-presentation p {
        font-size: 1.3em;
        line-height: 1.6;
    }

    .buttons {
        flex-direction: column;
        height: auto;
        gap: 0.75rem;
    }

    .buttons a {
        justify-content: center;
        width: 100%;
        padding: 0.75em 1.5em;
        font-size: 1rem;
    }

    .parallax .scroller {
        font-size: 28px;
    }

    .container-parallaxtext {
        bottom: 0.5rem;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .content-presentation {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
        margin-bottom: 15vh;
    }

    .content-presentation h1 {
        font-size: 2.2em;
        line-height: 1.15;
    }

    .content-presentation p {
        font-size: 1.1em;
        line-height: 1.5;
    }

    .buttons a {
        padding: 0.8em 1.5em;
        font-size: 0.95rem;
    }

    .parallax .scroller {
        font-size: 20px;
    }
}
