.presentation{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.content-presentation{
    margin-left: 10rem;
    height: fit-content;
    margin-bottom: 15vh;
}
.content-presentation h1{
    font-family: Inter, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.3;
    letter-spacing: 0;
    font-size: 6em;
    color: var(--text);
    margin-top: 0;
    margin-bottom: 0;
}
.content-presentation h1 span{
    color: var(--accent);
}
.content-presentation p{
    font-size: 2em;
    font-family: Inter, serif;
    letter-spacing: normal;
    text-align: left;
    line-height: 2.25;
    box-sizing: border-box;
    scroll-padding-top: 3em;
    color: var(--text);
}
.buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: 3.5rem;
}
.my-resume{

}
.get-in-touch{

}