@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter';
    font-weight: 400;
}

body {
    font-family: 'Inter', monospace;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', monospace;
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem; /* 67.36px */
}

h2 {
    font-size: 3.158rem; /* 50.56px */
}

h3 {
    font-size: 2.369rem; /* 37.92px */
}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    font-size: 1.333rem; /* 21.28px */
}

small {
    font-size: 0.750rem; /* 12px */
}

:root[data-theme="light"] {
    --cursor: white;
    --primaryText: black;
    --secondaryText: white;
    --primaryBackground: white;
    --secondaryBackground: black;
    --secondary: rgba(0,0,0,.3);
    --accent: #34fbfe;
    --font-scale: 1.333;
}

:root[data-theme="dark"] {
    --cursor: white;
    --primaryText: white;
    --secondaryText: black;
    --primaryBackground: black;
    --secondaryBackground: white;
    --secondary: rgba(0,0,0,.3);
    --accent: #34fbfe;
    --font-scale: 1.333;
}


:root {
    font-family: 'Inter', monospace;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));

    --margin-lg: 0 12%;
    --margin-md: 0 6%;

    --border1: 1rem;
    --border05: 0.5rem;
}


::-webkit-scrollbar {
    margin-left: 1em;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background-color: rgba(131, 131, 131, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primaryBackground);
    transition: all .5s ease-in-out;
}

.app h1,
.app span,
.app p,
.app a {
    width: fit-content;
    transition: all .2s ease-in-out;
}

.primary-button {
    padding: 0.5em 2em;
    background-color: var(--secondaryBackground);
    color: var(--secondaryText);
    border-radius: var(--border05);
    transition: all .2s ease-in-out;
    font-size: var(--p);
    z-index: 2;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.secondary-button {
    padding: 0.5em 2em;
    background-color: var(--primaryBackground);
    color: var(--primaryText);
    border-radius: var(--border05);
    border: 1px solid var(--secondaryBackground);
    font-size: var(--p);
    z-index: 1;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tertiary-button {
    padding: 0.5em 2em;
    background-color: var(--accent);
    color: var(--secondaryText);
    border-radius: var(--border05);
    font-size: var(--p);
    z-index: 1;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.primary-button:hover {
    box-shadow: 5px 20px 150px 0px var(--primary);
}

.secondary-button:hover {
    box-shadow: 5px 20px 150px 0px var(--secondary);
}