nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primaryText);
    gap: 1rem;
    position: fixed;
    top: 1rem;
    right: 5rem;
    z-index: 99;
    width: fit-content;
}

nav button {
    cursor: pointer;
    background-color: transparent;
    color: var(--primaryText);
    font-family: "Inter", monospace;
    border: none;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 1rem;
}
nav button:hover {
    color: var(--primaryText);
    opacity: 0.9;
}
.nav-primary button:after {
    display: block;
    content: '';
    padding-bottom: .5rem;
    border-bottom: solid 3px var(--primaryText);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

nav button:hover:after {
    transform: scaleX(1);
}

.nav-primary {
    display: flex;
    gap: 1rem;
}

.back-button {
    margin-top: .5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.back-button .icon {
    font-size: 1.5em;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.back-button p {
    margin-block-start: 0;
    margin-block-end: 0;
    pointer-events: none;
}

.back-button:hover .icon {
    transform: translateX(-30%);
}
